.navigation {
    /*display: none; Ocultar el menú inicialmente */
    flex-direction: column; /* Para que los enlaces se desplieguen verticalmente */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation.show {
    display: flex; /* Mostrar el menú cuando tenga la clase 'show' */
}

.navigation li {
    display: block;
    text-align: center;
}

.navigation a {
    display: block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
}

#menu::before {
    content: "≡";
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
}

/* Opcional: cambiar el ícono cuando se muestra el menú */
#menu.show::before {
    content: "✖"; /* Ícono de cerrar */
}


/* Estilo del carrusel */
.carousel {
    position: relative;
    width: 100vw;
    height: 55vw;
    overflow: hidden;
    display: block;
}

.carousel-image {
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 25vw;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
}

.carousel-image:not(:first-child) {
    opacity: 0;
}

.carousel {
    background-color: var(--amarillo);
}

footer {
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    color: white;
}

.logo {
    box-shadow: 1px 1px 9px gray;
    border-radius: 100%;
}

p {
    font-size: 15px;
    font-weight: bolder;
}

button{
    font-size: 17px;
    font-weight: 500;
}


label{
    font-size: 25px;
    font-weight: bold;
}

.inputs{
    padding: 12px;
    font-size: 25px;
    background-color: aquamarine;
    border-radius: 20px;
    margin-bottom: 10px;
}

form[data-contenedorFrom]{
    box-shadow: 1px 1px 33px black;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);;
}

div[data-contenedorFormulario]{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
h1[data-h1]{
    text-shadow: 1px 2px 8px rgb(255, 255, 255);
}